.about-us {
	background: #E9E9E9;
	overflow: hidden;
	@include desktop_base {
		padding-top: 0;
		padding-bottom: 50px;
	}

	.container {
		@include tablet {
			padding: 0;
		}
	}
	.about-us-content {
		position: relative;
		padding: 0 60px;
		@include tablet {
			padding: 0;
		}

		.about-us-img-block {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				@include tablet {
					overflow: visible;
				}

				.about-us-image {
					position: absolute;
					left: 196px;
					max-width: 350px;
					transform: translate(0, -50%);
					@include desktop_medium {
						display: none;
					}
				}

				.about-us-background {
					@include desktop_large {
							min-height: rem(555px);
					}

					@include desktop_base {
							width: auto;
					}
				}

				.about-us-desc {
					height: 521px;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: start;
					max-width: rem(569px);
					padding: 0 rem(30px);
					align-content: center;
					position: absolute;
					right: 214px;
					top: rem(-100px);
					p {
						text-align: justify;
					}
					@include desktop_base {
						top: 0;
						right: 80px;
					}
					@include tablet {
						right: 15px;
					}
					@include mobile {
						width: calc(100vw - 50px);
						padding: 0 rem(15px);
					}

				}
		}

		.about-us-items {
			display: grid;
			grid-template-columns: 1fr 0.5fr 0.5fr;
			margin-top: 140px;
			border-top: solid 1px #141414;
			@include desktop_base {
				display: flex;
				flex-direction: column;
				margin-top: 50px;
				gap: 20px;
				border: none;
			}
			picture {
				padding-top: 20px;
				padding-right: 20px;
				img {
					width: 100%;
				}
				@include tablet {
					padding: 0;
				}
			}
			.about-us-item {
				border-left: solid 1px #141414;
				padding: 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;
				span {
					color: red;
					font-size: rem(24px);
				}
				h3 {
					color: #141414;
					font-size: 24px;
					margin: 0;
				}
				p {
					align-self: flex-end;
					font-style: normal;
					font-weight: 400;
					font-size: 18;
					line-height: 150%;
					color: #141414;
					text-align: justify;
				}
			}
		}

		.about-us-director {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			margin-top: 100px;
			height: 527px;
			@include desktop_base {
				height: unset;
			}
			@include tablet {
				display: block;
				margin-top: 0;
			}

			.about-us-director-description {
				padding: 0 34px;
				display: flex;
				flex-direction: column;
				gap: 30px;
				background: #E9E9E9;

				@include tablet {
					padding: 34px 0;
				}

				h4 {
					font-style: normal;
					font-weight: 700;
					font-size: 50px;
					line-height: 120%;
					color: #141414;
					margin: 0;
				}

				h5 {
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					color: #141414;
					text-transform: uppercase;
					margin: 0;
					span {
						color: red;
						font-size: 24px;
						margin-right: 15px;
					}
				}

				ul {
					padding-left: 20px;
					max-width: 615px;
					@include tablet {
						max-width: unset;
					}
				}

				li {
					font-weight: 400;
					font-size: 18px;
					line-height: 27px;
					color: #141414;
					text-align: justify;
				}
			}
			.about-us-director-photo {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				overflow: hidden;
				background-color: white;
				border-radius: 10px;
				picture {
					max-width: 445px;
					max-height: 500px;
					img {
						@include min_mobile {
							width: 100%;
						}
					}
				}
				@include mobile {
					img {
						max-height: 360px;
					}
				}
			}
		}
	}
}
