.map-block {
	position: relative;
	overflow: hidden;
	height: rem(878px);
	padding: 100px 60px;
	@include desktop {
		height: unset;
	}
	@include mobile {
		padding: 0;
		padding-bottom: 20px;
	}

	& .container {
			position: relative;
			@include desktop_base{
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
	}


	.map-desc {
		& {
				background: #fff;
				width: 100%;
				max-width: rem(348px);
				padding: rem(10px) rem(20px);
				position: absolute;
				left: rem(108px);
				top: rem(32px);
				z-index: 3;

				@include desktop {
					left: 60px;
				}

				@include desktop_base {
						right: 0;
						left: unset;
				}
				@include desktop_small {
					position: unset;
					display: flex;
					max-width: unset;
					gap: 20px;
				}
				@include tablet {
					display: block;
				}
				@include mobile {
					padding: 20px;
				}
		}

		& .map-desc-item {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;
				row-gap: rem(18px);
				margin: 0 0 rem(18px);
				column-gap: rem(10px);

				&:last-child {
						margin: 0;
				}

				& span {
						display: block;
						font-family: 'Ubuntu';
						width: 100%;
						font-style: normal;
						font-weight: 500;
						font-size: rem(24px);
						line-height: 120%;
						color: #141414;
						@include FontFamilyMontserratRegular;
				}

				& p {
						font-style: normal;
						font-weight: 500;
						font-size: rem(18px);
						width: 80%;
						line-height: 150%;
						color: #141414;
						@include FontFamilyMontserratRegular;
				}
		}
	}
	.map-content {

		& {
				height: rem(678px);
				@include mobile {
					height: 500px;
				}
		}
	}
}
