.services-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 214px;
	gap: 100px;
	@include desktop_huge {
		justify-content: center;
		padding: 0;
	}
	@include desktop {
		gap: 20px;
	}
	@include tablet {
			padding: 0;
			flex-direction: column-reverse;
			justify-content: center;
	}



	.services-img {

		& {
				max-width: rem(798px);
				width: 100%;
				display: flex;

		}

		& img {
				width: auto;
				height: inherit;

				@include desktop {
						width: 100%;
				}
		}
	}

	.services-red-item {
		min-height: 899px;
		max-width: rem(569px);
		padding: 0 rem(30px);
		display: flex;
		flex-direction: column;
		gap: 30px;
		justify-content: center;
		p {
			text-align: justify;
		}
		@include desktop_large {
				margin-right: 0;
				min-height: unset;
				max-width: rem(397px);
				padding: rem(80px) rem(30px);
		}
		@include tablet {
			max-width: unset;
		}
		@include mobile {
			padding-top: 30px;
			padding-bottom: 30px;
			gap: 20px;
			h3 {
				margin: 0;
				font-size: 36px;
			}
		}
	}
}


