.breadcrumbs {
  padding-top: calculateRem(47px);
  padding-bottom: calculateRem(112px);

  @include desktop_small {
    padding-bottom: calculateRem(44px);
  }

  @include tablet_small {
    padding: calculateRem(20px) 0 calculateRem(44px);
  }


}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
  transition: all 0.3s ease-in-out;

  &:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 1px;
    background-color: $color-dark;
    margin: 4px 0px 4px 5px;
    transform: rotate(287deg);
  }

  &:last-child {
    a {
      color: $color-dark-opacity-5;
    }
  }

  a {
    color: $color-dark;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: calculateRem(13px);
    line-height: calculateRem(20px);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:visited,
    &:active {
      color: $color-dark-opacity-6;
      text-decoration: none;
    }
  }

  span {
    color: $color-dark-opacity-6;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-dark-opacity-6;
    }
  }

  &.breadcrumbs__item--active a,
  &.breadcrumbs__item--active span {
    font-weight: bold;
    cursor: default;
  }
}
