.warning-cookie {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: calculateRem(950px);
    width: fit-content;
    padding: calculateRem(20px) calculateRem(24px);
    background: $color-white;
    box-shadow: 0px 6px 25px rgba(8, 37, 64, 0.15);
    display: flex;
    align-items: center;
    z-index: 10000;

    @include tablet {
        bottom: 0;
    }

    &__text {
        font-size: calculateRem(14px);
        line-height: calculateRem(20px);
        margin-right: calculateRem(20px);

        @include tablet {
            font-size: calculateRem(9px);
            line-height: calculateRem(12px);
        }
    }

    &__button.btn {
        padding: calculateRem(8px) calculateRem(20px);
        font-size: calculateRem(14px);
        line-height: calculateRem(20px);
        cursor: pointer;

        @include tablet {
            font-size: calculateRem(12px);
            line-height: calculateRem(16px);
        }
    }
}