.main-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav__item {
  margin: 0 48px 0 0;

  &:last-child {
    margin: 0;
  }
}

.main-nav__link {
  display: flex;
  align-items: center;
  color: $color_black;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  padding: 15px 0;

  position: relative;
  transition: all 0.6s;

  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1px;
    left: 50%;
    background: $color_black;
    transition: all 0.3s;
  }

  &:hover {
    color: $color_black;
    text-decoration: none;
    
    &:before {
      height: 2px;
      width: 100%;
      left: 0;
      background: $color_black;
    }
  }

  &.main-nav__link--active {
    cursor: default;

    &:before {
      height: 2px;
      width: 100%;
      left: 0;
      background: $color_black;
    }
  }
}
