.menu {
  font-size: 12px;
  line-height: 1.2;
  position: fixed;
  top: 97px; //97px - высота header
  left: 0;
  width: 100%;
  max-width: 575px;
  height: calc(100vh - 97px); //97px - высота header
  height: calc((var(--vh, 1vh) * 100) - 97px);

  background-color: $color_bg;
  transition: transform 0.4s;
  z-index: 20;
  /* overflow: hidden; */
  transform: translate(-100%);
  /* overflow: auto; */
  padding-bottom: 32px;

  @include mobile {
    top: 68px; //68px - высота header
    height: calc(100vh - 68px);  //68px - высота header
    height: calc((var(--vh, 1vh) * 100) - 68px);
  }

  .menu-opened & {
    transform: translate(0);
  }

  .menu__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
  }

  .menu__list {
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu__item {
    display: block;
    border-bottom: 1px solid rgba($color_black, 0.07);
  }

  .menu__link {
    display: inline-block;
    padding: 16px 0;
    width: 100%;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: $base_color_text;

    &:hover {
      color: $base_color_text;
      text-decoration: none;
    }
  }

  .menu__part-top {
    .top-row__container {
      justify-content: center;
    }
  }

  .menu__part-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
  }

  .menu__button {
    width: 100%;
    margin-top: 24px;
  }

  .menu__address-area {
    display: flex;
    flex-direction: column;

    span {
      color: $color_black;
      font-family: "Arial";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0;

      &.address {
        margin-top: 4px;
      }
    }
  }
}
