
.bath-slider, .kitchen-slider {
  .swiper-slide {
    height: rem(450px);

    @include mobile {
      height: rem(237px);
    }

    img {
      width: 100%;
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #fff;

  @include mobile {
    width: rem(8px);
    height: rem(16px);

    &::after {
      font-size: rem(16px);
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: #FFD8A8;
}
.kitchen-slider{

  @include mobile {
    & .swiper-slide {
      height: fit-content;
    }
  }
}