header {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(180, 180, 180, 0.25);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(150px);
    column-gap: rem(20px);

    & .logo {

        & {
            max-width: rem(319px);
            width: 100%;
        }

        & img {
            width: 100%;
        }
    }

    & nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: rem(689px);
        column-gap: rem(20px);
        width: 100%;

        & a {
            font-style: normal;
            font-weight: 400;
            font-size: rem(24px);
            line-height: 120%;
            color: #141414;
            font-family: 'Ubuntu';

            &:last-child {
                font-style: normal;
                font-weight: 500;
                font-size: rem(24px);
                border: rem(1px) solid #E10028;
                cursor: pointer;
                background: #fff;
                line-height: 120%;
                color: #E10028;
                padding: rem(10px) rem(20px);
                font-family: 'Ubuntu';
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #fff;
                    background: #E10028;
                }
            }
        }


    }
}

.title {

    & {
        max-width: rem(914px);
        width: 100%;
    }

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: rem(24px);
        line-height: 150%;
        color: #141414;
    }
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: rem(110px);
    line-height: 110%;
    color: #141414;
    margin: 0 0 rem(30px);

    & span {
        color: #E10028;
    }
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(20px);

}

.main-img {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    background: #E10028;
    width: 100%;
    max-width: rem(569px);
    padding: 0 rem(27px);
    height: rem(665px);
    margin-right: rem(154px);

    @include desktop_base {
        margin-right: 0;
    }

    @include tablet {
        display: none;
    }

    & span {
        margin: 0 0 rem(69px);
    }

    & img {
        width: 100%;
    }
}

.redBlock {
    background: #E10028;

    & span {
        font-style: normal;
        font-weight: 700;
        font-size: rem(24px);
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        font-family: "Ubuntu";
        width: 100%;
    }

    & h3 {
        margin: rem(30px) 0;
        font-style: normal;
        font-weight: 700;
        font-size: rem(50px);
        line-height: 120%;
        color: #FFFFFF;
    }

    & ul {
        padding: 0 0 0 rem(25px);
    }

    & li {
        font-style: normal;
        font-weight: 400;
        font-size: rem(18px);
        line-height: 150%;
        color: #FFFFFF;
    }

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: rem(18px);
        line-height: 150%;
        color: #FFFFFF;
    }
}

.about-desc {
    height: rem(755px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    max-width: rem(569px);
    padding: 0 rem(30px);
    align-content: center;
    position: absolute;
    left: rem(154px);
    top: rem(-100px);

    @include tablet {
        left: rem(195px);
    }
}

.about-us-content {
    position: relative;

    & .about-img-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.about-us {
    background: #E9E9E9;
    overflow: hidden;


    & img {
        width: 100%;

        @include desktop_large {
            min-height: rem(555px);

        }

        @include desktop_base {
            width: auto;
        }
    }
}

.map-block {
    position: relative;
    overflow: hidden;
    height: rem(878px);

    & .container {
        position: relative;
    }
}

.services-red-item {
    max-width: rem(569px);
    padding: 0 rem(30px);
    height: rem(762px);
    margin-right: rem(154px);

    @include desktop {
        margin-right: 0;
    }
}

.contact-block {

    & {
        max-width: rem(569px);
        padding: 0 rem(30px);
        position: absolute;
        top: rem(-101px);
        right: rem(154px);
        height: 100%;
        min-height: rem(878px);

        @include tablet {
            right: rem(15px);
        }
    }

    & span {
        display: block;
    }

    & input {
        font-style: normal;
        font-weight: 500;
        font-size: rem(18px);
        line-height: 120%;
        color: rgba(249, 249, 249, 0.8);

        &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: rem(18px);
            line-height: 120%;
            color: rgba(249, 249, 249, 0.8);
        }
    }

    & textarea {
        font-style: normal;
        font-weight: 500;
        font-size: rem(18px);
        line-height: 120%;
        color: rgba(249, 249, 249, 0.8);
        padding: rem(10px);
        background: #E10028;
        border: rem(1px) solid #FFFFFF;
        width: 100%;

        &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: rem(18px);
            line-height: 120%;
            color: rgba(249, 249, 249, 0.8);
        }
    }

    & label {
        width: 100%;
        border: rem(1px) solid #FFFFFF;
        height: rem(40px);
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 rem(10px);
    }

    & form {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        row-gap: rem(30px);
        margin: rem(30px) 0 0;
    }

    & button {
        margin: rem(24px) 0 0;
        font-style: normal;
        font-weight: 500;
        font-size: rem(24px);
        line-height: 120%;
        color: #E10028;
        background: #fff;
        border: rem(1px) solid #fff;
        width: 100%;
        height: rem(59px);
        text-transform: capitalize;
        font-family: "Ubuntu";
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #E10028;
            color: #fff;
        }
    }

    & p {
        font-style: normal;
        font-weight: 500;
        font-size: rem(18px);
        line-height: 120%;
        color: rgba(249, 249, 249, 0.8);

        & a {
            color: rgba(249, 249, 249, 1);
        }
    }
}

.p100 {
    padding-top: rem(100px);
    padding-bottom: rem(100px);
}

.services-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 rem(108px);

    @include desktop {
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.services-img {

    & {
        max-width: rem(798px);
        width: auto;
        display: flex;

    }

    & img {
        width: auto;
        height: inherit;

        @include desktop {
            width: 100%;
        }
    }
}

.about-flex-items {

    & {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(20px);
        margin: rem(200px) 0 0;



        @include desktop_small {
            flex-wrap: wrap;
            row-gap: rem(20px);
        }
    }

    & .about-item {
        width: 100%;
        max-width: rem(569px);
        padding: rem(34px) rem(37px);
        border: rem(1px) solid #000;
        min-height: rem(284px);

        @include desktop_small {
            max-width: 100%;
            width: 100%;
        }

        & p {
            font-style: normal;
            font-weight: 400;
            font-size: rem(24px);
            line-height: 150%;
            color: #141414;
        }
    }
}

.p41 {
    padding: rem(41px) 0;
}

.products {

    & {
        background: #E9E9E9;
        position: relative;
    }


}

.products-flex {

    & {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(20px);
        margin: rem(151px) 0 0;
        position: relative;

        @include desktop_extra_small {
            overflow-x: scroll;
            overflow-y: clip;
        }
    }

    & p {
        font-style: normal;
        font-weight: 700;
        font-size: rem(32px);
        line-height: 120%;
        color: #141414;
    }

    & span {
        font-style: normal;
        font-weight: 500;
        font-size: rem(18px);
        line-height: 120%;
        color: rgba(20, 20, 20, 0.8);
        font-family: 'Montserrat';
    }

    & .products-red-block {
        padding: rem(100px) rem(30px) rem(30px);
        max-width: rem(569px);
        width: 100%;
        position: absolute;
        top: rem(-251px);
        left: rem(154px);
        min-height: rem(191px);
        display: flex;
        align-items: end;

        @include tablet {
            min-height: fit-content;
            left: rem(15px);

        }

        & span {
            font-style: normal;
            font-weight: 700;
            font-size: rem(24px);
            line-height: 120%;
            text-transform: uppercase;
            color: #FFFFFF;
            display: block;
            font-family: "Ubuntu";
            width: 100%;
        }
    }

    & ul {

        & {
            margin: rem(30px) 0 0;
        }

        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: rem(1px) solid #000;
            margin: 0 0 rem(21px);

            &:last-child {
                margin: 0;
            }
        }

        & p {

            & {
                background: #E9E9E9;
                margin: 0 0 rem(-2px);
            }

            &:first-child {
                font-style: normal;
                font-weight: 700;
                font-size: rem(18px);
                line-height: 120%;
                color: #141414;
            }

            &:last-child {
                font-style: normal;
                font-weight: 500;
                font-size: rem(18px);
                line-height: 120%;
                color: #141414;
            }
        }
    }

    & img {
        width: 100%;
        margin: rem(30px) 0 rem(24px);
    }

    & .products-item {

        max-width: rem(415px);
        width: 100%;

        @include desktop_extra_small {
            min-width: rem(286px);
        }
    }
}



.map-content {

    & {
        height: rem(678px);
    }
}

.dragNdrop {
    & {
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: rem(20px);
        position: relative;
        cursor: pointer;
    }

    & input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
}

.map-desc {
    & {
        background: #fff;
        width: 100%;
        max-width: rem(348px);
        padding: rem(10px) rem(20px);
        position: absolute;
        left: rem(108px);
        top: rem(32px);
        z-index: 3;

        @include tablet {
            left: rem(5px);
            top: rem(5px);
        }
    }

    & .map-desc-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        row-gap: rem(18px);
        margin: 0 0 rem(18px);
        column-gap: rem(10px);

        &:last-child {
            margin: 0;
        }

        & span {
            display: block;
            font-family: 'Ubuntu';
            width: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: rem(24px);
            line-height: 120%;
            color: #141414;
        }

        & p {
            font-style: normal;
            font-weight: 500;
            font-size: rem(18px);
            width: 80%;
            line-height: 150%;
            color: #141414;
        }
    }
}

footer {
    height: rem(184px);
    background: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: start;

    & .footer-content {
        display: flex;
        align-items: start;
        justify-content: start;
        column-gap: rem(30px);
    }

    & p,
    & a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: rem(12px);
        line-height: 120%;
        color: #141414;
    }

    & .privacy-links {

        & .policy-privacy {

            padding: 0 rem(7px) 0 0;
            border-right: rem(1px) solid;
            margin: 0 rem(5px) 0 0;
        }
    }

}