@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: -webkit-fill-available;
}

body {
  position: relative;
  font-family: "Commissioner";
  overflow-x: hidden;
  //background-color: $color_bg;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  &.menu-opened,
  &.cart-opened {
    overflow: hidden;
  }
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.pointer-events-none {
  pointer-events: none;
  opacity: 0.4;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.footer,
.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
path {
  fill: inherit;
  stroke: inherit;
}

p.big-p {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.2;
  color: $base_color_text;
  margin: 0;

  @media screen and (max-width: 1140px) {
    font-size: 24px;
  }

  @media screen and (max-width: 575px) {
    font-size: 20px;
  }
}

p.small-p {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $base_color_text;
  margin-block-start: 1em;
  margin-block-end: 1em;

  @media screen and (max-width: 1140px) {
    font-size: 14px;
  }

  @media screen and (max-width: 575px) {
    font-size: 13px;
  }
}

a {
  color: $base_color_text !important;
  text-decoration: underline !important;

  &:hover,
  &:active {
    color: rgba($base_color_text, 0.6) !important;
  }

  &:visited {
    color: $color_gold !important;
  }
}

textarea,
input[type="text"],
input[type="submit"],
a[type="submit"],
button[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;

  &:hover,
  &:visited,
  &:active {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

