<footer>
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a href="#">
                <img src="@icons/logo-black.svg" alt="Logo" title="Logo">
            </a>
            </div>
            <div class="privacy-links">
                <p>
                    © All rights reserved
                </p>
                <a href="#" target="_blank" class="policy-privacy">Privacy Policy</a>
                <a href="#" target="_blank" class="cookie-privacy">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer>
