<header>
   <div class="container">
      <div class="header-content">
         <div class="logo">
            <a href="#">
            	<img src="@icons/logo.svg" alt="logo">
							<img src="@icons/logo-black.svg" alt="logo">
         		</a>
         </div>
         <nav>
            <a href="#1">
               About us
            </a>
            <a href="#2">
               Services
            </a>
            <a href="#3">
               Products
            </a>
            <a href="#4">
               Write us
            </a>
         </nav>
				 <button class="burger" id="burger"></button>
      </div>
   </div>
	 <div class="menu" id="menu">
			<nav>
				<a href="#1">
					About us
				</a>
				<a href="#2">
					Services
				</a>
				<a href="#3">
					Products
				</a>
				<a href="#4">
					Write us
				</a>
			</nav>
			<button class="close" id="close"></button>
	 </div>
</header>
