// colors
$color_white: #fff;
$color_black: #4A4949;
$color_gold: #C29A5C;

$base_color_text: #4A4949;
$color_bg: #F6F3F1;

$font_regular: "sf_regular";
$font_light: "sf_light";
$font_italic: "sf_regular";
$font_medium: "sf_medium";
$font_bold: "sf_bold";
$font_black: "sf_bold";
$font_thin: "sf_light";

// sizes
$font_size: 16px;
$line_height: 1.2;

// old

$image-path: '~@/assets/images/';
$svg-path: '~@/assets/svg/';

// Black white
$color-white: #ffffff;
$color-white-opacity-6: rgba(255, 255, 255, .6);
$color-white-opacity-5: rgba(255, 255, 255, .5);

// Black color
$color-black: #000;
$color-dark: #1D2830;
$color-dark-opacity-6: rgba(29, 40, 48, .6);
$color-dark-opacity-5: rgba(29, 40, 48, .5);
$black-opacity-86:rgba(0, 0, 0, 0.86);

// Blue
$color-blue: #1F91FB;
$color-blue-dark: #0475DC;
$color-blue-light: #E5F2FF;
$color-blue-gradient: linear-gradient(67.58deg, #0073DE 8.3%, #319CFF 98.91%);

// Fonts
$font-source-sans-pro: 'Source Sans Pro';
$font-bebas-neue-pro: 'Bebas Neue Pro';
