.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  @include min_desktop_extra_small {
    @include desktop_small {
      max-width: rem(1140px);
    }
  }

  @include min_tablet {
    @include desktop_extra_small {
      max-width: rem(1024px);
    }
  }

  @include min_tablet_small {
    @include tablet {
      max-width: rem(992px);
    }
  }

  @include mobile {
    padding-left: rem(16px);
    padding-right: rem(16px);
  }

  @include min_mobile {
    @include tablet_small {
      max-width: rem(768px);
    }
  }

  @include min_mobile_middle {
    @include mobile {
      max-width: rem(575px);
    }
  }

  @include min_mobile_small {
    @include mobile_middle {
      max-width: rem(475px);
    }
  }

  @include desktop_small {
    margin: 0 rem(10px);
    width: calc(100% - 20px);
  }

  @include mobile_small {
    max-width: rem(320px);
  }

  @include desktop {
    padding: 0;
    width: auto;
  }
}

.small-container {
  max-width: rem(825px);
  margin: 0;
}
